.Form {
    display: block;
    height: 310px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    text-align: left;
    color: #fff;
    padding: 30px;
    background-color: #121217;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.Form fieldset {
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.Form label {
    display: block;
    color: #aaa;
    font-weight: 300;
}

.Form select {
    border: 0px;
    -webkit-appearance: none;
    border-radius: 0px;
}

.Form input, 
.Form select {
    width: 100%;
    max-width: 15em;
    border-bottom: 2px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
    color: #fff;
    /* border: solid 1px rgba(0, 0, 0, .3); */
    background: rgba(0, 0, 0, .2);
    /* border-radius: 5px !important; */
    height: 40px;
}

.Form input:focus, .Form select:focus {
    outline: none;
    border-bottom-color: #dd3333;
}

fieldset>div {
    width: 33.333%;
    float: left;
    padding: 0 15px;
}

.Form fieldset {
    margin: 0 -15px;
    padding-bottom: 0;
}

.ButtonArea {
    width: 100%;
    margin: 0 auto 0;
    text-align: center;
}

@media (max-width: 499px) {
    .Form {
        width: 100%;
        height: 100%;
    }
    .Form input, .Form select, .Form label {
        display: block;
        width: 100%;
        max-width: none;
        color: #aaa;
    }
    fieldset>div {
        width: 100%;
        float: none;
        padding: 0 15px;
    }
}

@-webkit-keyframes autofill {
    to {
      color: white;
      background: rgba(0, 0, 0, .2);
    }
  }
  
    input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }