.Section {
    text-align: center;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
}
.Header {
    margin-top: 0;
    margin-bottom: 30px;
}

.Header h2 {
    color: #eceff3;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 24px;
}

.Header span {
    letter-spacing: normal;
    font-family: "Allura";
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    color: #dd3333;
}

.Content {
    font-size: 13px;
    font-weight: 500;
    color: #999;
    line-height: 1.9em;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.Content p span {
    background-color: #dd3333;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
   
    width: 50px;
    margin-top: 20px;
    display: block;
    font-size: 0;
}